@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-faq-sect {
  &__title {}

  &__list {
    counter-reset: list;
  }

  &__item {
    overflow: hidden;
    transition: max-height .5s;
    &:not(:last-child) {
      margin: 0 0 10px;
    }

    &.active {
      .index-faq-sect__item-question.lazyloaded::after {
        transform: rotate(180deg);
      }
    }

    &-question {
      padding: 15px 20px 15px 10px;
      display: flex;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(41, 130, 154, 0.15);
      border-radius: 5px;
      cursor: pointer;

      &::before {
        flex-shrink: 0;
        margin: 0 10px 0 0;
        counter-increment: list;
        content: counter(list) '.';
        font: bold 16px/150% $ubuntu;
        color: $blue;
        pointer-events: none;
      }

      &::after {
        flex-shrink: 0;
        margin: 0 0 0 auto;
        content: '';
        width: 14px;
        height: 7px;
        background: center/contain no-repeat;
        transition: transform .5s;
        pointer-events: none;
      }

      &.lazyloaded {
        &::after {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi45OTcgNS43OTNMMTMuMDguMTQ2YS41NjkuNTY5IDAgMDEuNzYxIDBjLjIxLjE5Ni4yMS41MTIgMCAuNzA3bC02LjQ2NCA2YS41NjkuNTY5IDAgMDEtLjc2MiAwTC4xNS44NTRBLjQ3NS40NzUgMCAwMS4xNjQuMTQ2YS41Ny41NyAwIDAxLjc0OSAwbDYuMDg0IDUuNjQ3eiIgZmlsbD0iIzI5ODI5QSIvPjwvc3ZnPg==');
        }
      }
    }

    &-answer {
      padding: 15px 20px 15px 10px;
      background: #FCFCFC;
    }
  }

  &__item-title {
    padding-right: 35px;
    transition: color .5s;
    pointer-events: none;
  }

  &__item-descr {}
}