@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-about-sect {
  &__pic {
    margin: 0 160px 0 0;
    width: 475px;
    height: 380px;
    &::before {
      width: 45%;
    }
  }

  &__img {}

  &__title {}

  &__descr {}
}