// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.thanks-popup {
  &__cnt {
    padding: 70px 20px;
    width: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__title {
    font-size: 20px;
  }
  &__descr {
    font-size: 16px;
    line-height: 150%;
  }
  &__close {
    top: 15px;
    right: 15px;
    // width: 20px;
    // height: 20px;
  }
}