@import '../assets/colors';
@import '../assets/mixins';
@import '../assets/variables';

body {
  color: $black;
  font: 14px/150% $ubuntu
}

// Класс добавляется при вызове попапов и мобильного меню
body.no-scroll {
  overflow: hidden;

  .hdr.fixed {
    overflow-y: scroll;
  }
}

// Обертка для всего контента
// фиксит горизонтальную прокрутку на некоторых iOS
#page-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }

// a[href="#"] {
//   opacity: .5;
//   pointer-events: none;
// }

.nav-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .5s;
}

.contact-link {
  display: flex;
  align-items: center;
  transition: color .5s;

  &::before {
    content: '';
    flex-shrink: 0;
    background: center/contain no-repeat;
  }

  &-tel-red,
  &-email-red {
    &::before {
      margin: 0 10px 0 0;
      width: 25px;
      height: 25px;
    }
  }

  &-geo-blue,
  &-tel-blue,
  &-email-blue {
    &::before {
      margin: 0 15px 0 0;
      width: 20px;
      height: 20px;
    }
  }

  &-geo-blue {
    align-items: flex-start;
  }

  &-tel-red {
    &:not(.lazy) {
      &::before {
        background-image: url('./img/icon-tel-red.svg');
      }
    }

    &.lazyloaded {
      &::before {
        background-image: url('./img/icon-tel-red.svg');
      }
    }
  }

  &-tel-blue {
    &:not(.lazy) {
      &::before {
        background-image: url('./img/icon-tel-blue.svg');
      }
    }

    &.lazyloaded {
      &::before {
        background-image: url('./img/icon-tel-blue.svg');
      }
    }
  }

  &-email-red {
    &:not(.lazy) {
      &::before {
        background-image: url('./img/icon-email-red.svg');
      }
    }

    &.lazyloaded {
      &::before {
        background-image: url('./img/icon-email-red.svg');
      }
    }
  }

  &-email-blue {
    &:not(.lazy) {
      &::before {
        background-image: url('./img/icon-email-blue.svg');
      }
    }

    &.lazyloaded {
      &::before {
        background-image: url('./img/icon-email-blue.svg');
      }
    }
  }

  &-geo-blue {
    &:not(.lazy) {
      &::before {
        background-image: url('./img/icon-geo-blue.svg');
      }
    }

    &.lazyloaded {
      &::before {
        background-image: url('./img/icon-geo-blue.svg');
      }
    }
  }

}

/* loader */
// Лоадер в основном для форм

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  // background: $color;

  &__circle {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    animation: spin .5s linear infinite;
    // border-top-color: $color;
    // border-left-color: $color;
  }
}

.loader_white {

  // background: $color;
  >.loader__circle {
    // border-top-color: $color;
    // border-left-color: $color;
  }
}

.loading>.loader {
  opacity: 1;
  visibility: visible;
}

/* loader */

// Поле contact form 7 honeypot
.cf7-form-field {
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
}

// Блок с прокруткой, который показывается на всю ширину и высоту страницы страницы
// нужен для незаметного overflow:hidden у body
// при вызове мобильного меню или попапов
#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;

  &.active {
    display: block;
  }
}

// Блокирование текущей ссылки в меню
// .nav__list-item {
//   &.current {
//     cursor: not-allowed;
//     > .nav__link {
//       pointer-events: none;
//       > .nav__link-text {
//         border-bottom: 1px solid;
//       }
//     }
//   }
// }

// Общие стили для секций
.sect {
  padding-top: $sectionVerticalPadding320;
  padding-bottom: $sectionVerticalPadding320;

  &-bg {
    padding-top: $sectionVerticalPadding320;
    padding-bottom: $sectionVerticalPadding320;
    margin-top: $sectionVerticalPadding320;
    margin-bottom: $sectionVerticalPadding320;
    background: #fcfcfc;
    +.sect-bg {
      margin-top: -$sectionVerticalPadding320;
    }
  }

  &-title {
    font: bold 22px/130% $ubuntu;
    text-transform: uppercase;
  }

  &-title-blue {
    margin-bottom: 20px;
    color: $blue;
  }

  &-descr {}
}

@media (min-width: 767.98px) {
  .sect {
    padding-top: $sectionVerticalPadding768;
    padding-bottom: $sectionVerticalPadding768;

    &-bg {
      padding-top: $sectionVerticalPadding768;
      padding-bottom: $sectionVerticalPadding768;
      margin-top: $sectionVerticalPadding768;
      margin-bottom: $sectionVerticalPadding768;
      +.sect-bg {
        margin-top: -$sectionVerticalPadding768;
      }
    }

    &-title {
      font-size: 24px;
    }

    &-title-blue {}

    &-descr {}
  }
}

@media (min-width: 1023.98px) {
  .sect {
    padding-top: $sectionVerticalPadding1024;
    padding-bottom: $sectionVerticalPadding1024;

    &-bg {
      padding-top: $sectionVerticalPadding1024;
      padding-bottom: $sectionVerticalPadding1024;
      margin-top: $sectionVerticalPadding1024;
      margin-bottom: $sectionVerticalPadding1024;
      +.sect-bg {
        margin-top: -$sectionVerticalPadding1024;
      }
    }

    &-title {
      font-size: 30px;
    }

    &-title-blue {
      margin-bottom: 30px;
    }

    &-descr {}
  }
}

@media (min-width: 1279.98px) {
  .sect {
    padding-top: $sectionVerticalPadding1280;
    padding-bottom: $sectionVerticalPadding1280;

    &-bg {
      padding-top: $sectionVerticalPadding1280;
      padding-bottom: $sectionVerticalPadding1280;
      margin-top: $sectionVerticalPadding1280;
      margin-bottom: $sectionVerticalPadding1280;
      +.sect-bg {
        margin-top: -$sectionVerticalPadding1280;
      }
    }

    &-title {
      font-size: 32px;
    }

    &-title-blue {
      margin-bottom: 40px;
    }

    &-descr {}
  }
}


// Скрытие стандартных сообщений от contact form 7
div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response {
  display: none !important;
}