@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-services-sect {
  &__pic {
    padding: 30px 0 0 30px;
    margin-top: 70px;
    width: 465px;
    &::before {
      // decor bg
    }
  }

  &__img {}

  &__text {}

  &__title {}

  &__list {
    max-width: 430px;
    font-size: 16px;
    line-height: 150%;
  }

  &__li {
    &:not(:last-child) {}
  }
}