@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-services-sect {
  display: flex;
  flex-flow: row-reverse;
  &__pic {
    margin: 50px 0 auto auto;
    max-width: 100%;
    width: 325px;
    &::before {
      // decor bg
    }
  }

  &__img {}

  &__text {}

  &__title {}

  &__list {
    padding-left: 35px;
    max-width: 340px;
  }

  &__li {
    &::before {
      width: 20px;
      left: -15px;
    }
    &:not(:last-child) {}
  }
}