@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-services-sect {
  &__pic {
    width: 580px;
    &::before {
      // decor bg
      padding: 40px 0 0 40px;
    }
  }

  &__img {}

  &__text {}

  &__title {}

  &__list {
    max-width: 500px;
  }

  &__li {
    &:not(:last-child) {}
  }
}