@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.index-hero-sect {
  padding-top: 60px;
  padding-bottom: $sectionVerticalPadding1024;

  &__pic {
    height: calc(100% - 150px - #{$sectionVerticalPadding1024});
  }

  &__img {}

  &__title {
    max-width: 575px;
    font-size: 32px;
  }

  &__descr {
    margin-top: 20px;
    max-width: 475px;
    font-size: 22px;
  }

  &__note {
    font-size: 18px;
    max-width: 500px;
    margin: 10px auto 0;
  }

  &__form-title {
    margin: 0;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    bottom: 300px;
    color: $black;
  }

  &__form {
    margin-top: 55px;
    padding: 60px 60px 45px;
    // padding: 45px 60px;
    // .field {
    //   width: calc((100% - 45px) / 2);
    //   font-size: 16px;
    // }
    // .field_name {}

    // .field_tel {}

    // .field__text {}

    // .field__inp {}

    // .form-bottom {
    //   margin-top: 50px;
    // }

    // .check {
    //   max-width: 285px;
    //   font-size: 14px;
    //   &__inp {}

    //   &__pseudo-inp {}

    //   &__text {}

    //   &__link {}
    // }

    // .btn {
    //   width: 220px;
    //   height: 50px;
    // }
  }

  &.index-hero-v2 {
    .index-hero-sect__title {
      font-size: 36px;
    }
  }

  &__list {
    margin: 20px 0 0 177px;
    font-size: 18px;
  }

  &__li {
    &::before {
    }
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

}

.index-hero-sect,
.index-questions-sect {
  &__form {
    .field {
      width: calc((100% - 45px) / 2);
      font-size: 16px;
    }
    .field_name {}

    .field_tel {}

    .field__text {}

    .field__inp {}

    .form-bottom {
      margin-top: 50px;
    }

    .check {
      max-width: 285px;
      font-size: 14px;
      &__inp {}

      &__pseudo-inp {}

      &__text {}

      &__link {}
    }

    .btn {
      width: 220px;
      height: 50px;
    }
  }
}