@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.index-hero-sect {
  padding-top: 120px;
  padding-bottom: $sectionVerticalPadding1280;

  &__pic {
    height: calc(100% - 150px - #{$sectionVerticalPadding1280});
  }

  &__img {}

  &__title {}

  &__descr {}

  &__note {
    margin-top: 20px;
    max-width: 740px;
    font-size: 20px;
    text-align: center;
  }

  &__form-title {
    font-size: 24px;
    bottom: 340px;
  }

  &__form {
    margin: 130px auto 0;
    padding: 85px 165px 60px;
    width: 1180px;

    // padding: 60px 165px;
    // width: 1180px;
    .field_name {}

    .field_tel {}

    .field__text {}

    .field__inp {}

    .form-bottom {}

    .check {
      &__inp {}

      &__pseudo-inp {}

      &__text {}

      &__link {}
    }

    .btn {}
  }

  &.index-hero-v2 {
    .index-hero-sect__title {
      font-size: 48px;
    }
  }

  &__list {
    margin-left: 190px;
    font-size: 22px;
  }

  &__li {
    &::before {}

    &:not(:last-child) {}
  }

}

.index-hero-sect,
.index-questions-sect {
  &__form {}
}